#
# Copyright (c) 2012-2014 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.2.1
#
# Configuration properties for the Predix Machine raspimachineadapter sample
#
# Service_PID = com.ge.dspmicro.sample.raspimachineadapter


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>


# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.


# Polling Interval in Milliseconds
com.ge.dspmicro.sample.raspimachineadapter.UpdateInterval=I"10000"

# Number of Nodes
com.ge.dspmicro.sample.raspimachineadapter.NumberOfNodes=I"5"

# Initial configured Subscriptions
# Note: these names need to be added to the Spillway configuration
com.ge.dspmicro.sample.raspimachineadapter.DataSubscriptions=["ey-msd-pm-raspi"]

# Human Readable Adapter Name and Description Information
com.ge.dspmicro.sample.raspimachineadapter.Name="EY DETSCO PM RasPi"
com.ge.dspmicro.sample.raspimachineadapter.Description="EY DETSCO Predix Machine Raspberry Pi Subscription Adapter"

# Sensors
com.ge.dspmicro.sample.raspimachineadapter.Sensors=[ \
 "abcde,abcdeName,abcdeDescription,abcdeUom", \
 "defgh,defghName,defghDescription,defghUom" \
]

# Sensor location information
com.ge.dspmicro.sample.raspimachineadapter.SensorW1Location="/tmp/sys/bus/w1/devices"
com.ge.dspmicro.sample.raspimachineadapter.SensorW1Filename="w1_slave"
